body {
    padding: 0;
    margin: 0;
    width: 0;
    font-family: "Roboto", sans-serif;
}

#map {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

#location-marker-icon {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;   
}
#direction-marker-icon {
    visibility: hidden;
    position: fixed;
    left: 50%;
    bottom: 0;;
    transform: translate(-50%, 10px);
    width: 40px;
    height: 40px;
    z-index: -1;
}

#location-button {
    position: fixed;
    bottom: 10px;
    left: 50%;
    width: 60px;
    height: 60px;
    color: #55996f;
    background-color: white;
    font-variation-settings: 'FILL' 1;
    border: 0;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

#banner{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    height: 50px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

#ios-magnetometer-request-menu{
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 120px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#ios-magnetometer-request-menu-text{
    margin: 0;
}

#ios-magnetometer-request-menu-button{
    height: 40px;
    background-color: #55996f;
    color: white;
    border-radius: 10px;
    border: 0;
}