:root {
    --primary_color: #3cc56d;
    --background_color: #ffffff;
}

body{
    background-color: var(--primary_color);
}

#lens-container {
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%
}

.snapchat-embed-iframe{
    width: 30%;
    height: 30w;
}

@media (max-width: 1100px) {
    #lens-container {
        flex-direction: column;
        align-items: center;
        margin: 20px;
        row-gap: 30px;
    }
    .snapchat-embed-iframe{
        width: 100%;
    }
}

